html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}


/*----------------------------------------------------container-fluid-coordinating-council1------------------------*/

#container-fluid-coordinating-council1>h1
{
	font-size: 32px;
    color: #0072BC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold
}


#container-fluid-coordinating-council1>p
{

	text-align: justify;
    font-size: 17px;
    color: #727A7E;
}

