html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}




#navbar {
    background-color: rgba(0, 0, 0, 0);
    z-index: 5;
    border: 0;
}

.navbar-elements1 {
    color: #24B24B !important;
    font-size: 17px;
    font-weight: bold;
    transition: ease 0.5s;
}

.navbar-elements1:hover {
    color: #0072BC !important;
}

.dropdown-elements1
{
    color: #24B24B !important;
    letter-spacing: 1px;
    transition: ease 0.5s;
    font-size: 15px;
    padding: 0px;

}

@media screen and (max-width: 1120px) {
.dropdown-elements1
{

    letter-spacing: 1px;

    font-size: 10px;

}
}


.dropdown-elements1:hover
{
    color: #0072BC!important;
   
}

@media screen and (max-width: 1120px) {
    .navbar-elements1 {
        color: #24B24B !important;
        font-size: 15px;
        font-weight: bold !important;
    }
}
@media screen and (max-width: 1000px) {
    .navbar-elements1 {
        color: #24B24B !important;
        font-size: 10px;
        font-weight: bold;
    }
}

@media screen and (max-width: 767px) {
    .navbar-elements1 {
        color: #24B24B !important;
        font-size: 20px;
        font-weight: bold;
    }
}


#logo {
    width: 150px;
    height: 40px;
}

.navbar-trans {

    border: none;
    transition: top 1s ease;
}







.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    padding: 0px 0;
    list-style: none;
    background-color: rgba(250,250,250,0.99) !important;
    color: black !important;


}



.fa-chevron-down {
    margin-left: 6px;
    font-size: 10px;
    position: absolute;
    bottom: 3px;
    right: 0;
    left: 0;
    text-align: center;
    visibility: hidden;
    transition: ease 0.15s;
}

a:hover .fa-chevron-down
{
    visibility: visible;
}

.dropdown1:hover .fa-chevron-down
{
    visibility: visible;
    color: #0072BC;
}
.dropdown1:hover .navbar-elements1
{
    color: #0072BC !important;
}









/*double row*/

.navbar-doublerow>.navbar {
    display: block;
    padding: 0px auto;
    margin: 0px auto;
}

.navbar-doublerow .dividline {
    margin: 5px 100px;
    padding-top: 1px;
    background-color: inherit;
}


/*top nav*/

.navbar-doublerow .navbar-top ul>li>a {
    padding: 10px 0px 10px 0px;

    font-size: 12px;
}


/*down nav*/

.navbar-doublerow .navbar-down .navbar-brand {
    padding: 0px auto;
    float: left;
    font-size: 32px;
}

a.navbar-brand
{
    padding-top: 10px;
}

.navbar-doublerow.navbar-trans.afterscroll {
    top: -50px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

#glyphicon-search {
    font-size: 30px;
    margin: 10px 20px 10px 10px;
    color: #24B24B;
}

#glyphicon-search:hover {
    color: #0072BC !important;
}

#fa-user-circle {
    font-size: 25px;
    margin: 10px 5px 10px 5px;
    color: #24B24B;
    transition: ease 0.5s;
}

#fa-user-circle:hover {
    color: #0072BC !important;
}

#fa-globe {
    font-size: 25px;
    margin: 10px 5px 10px 5px;
    color: #24B24B;
    transition: ease 0.5s;
}

#fa-globe:hover {
    color: #0072BC !important;
}
#search
{
    font-family: 'Andika', sans-serif;
    color: #24B24B;
}



#glyphicon-search>form>input[type="text"] {
    height: 35px;
    display: inline-block;
    border: none;
    outline: none;
    color: #24B24B;
    font-weight: bold;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width 2s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

#glyphicon-search>form>input[type="text"]:focus:hover {
    border-bottom: 1px solid white;
}

#glyphicon-search>form>input[type="text"]:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 1px solid white;
    cursor: text;
}

#glyphicon-search>form>input[type="submit"] {
    display: inline-block;
    color: red;
    float: right;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    cursor: pointer;
    transition: opacity .4s ease;
}












#other-container-fluid {

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/Wallpapers/main-wallpaper.jpg');
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}






#fade-container
{
    margin-top: 200px;
    text-align: center;
}

#fade-container>h1
{
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    font-weight: bold;
}

#icons-row
{
    padding-top: 50px;
}

.icons
{
    color: #24B24B;
    font-size: 50px !important;
    padding-top: 50px;
    position: relative;
    transition: ease 0.5s;
}

.icon-under-text
{
    color: #24B24B;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    transition: ease 0.5s;
}


a:hover .icon-under-text
{
    color: #0072BC;
    text-decoration: none;
}

a:hover .icons
{
    color: #0072BC;
}

.container-fluid-a:hover
{
    text-decoration: none;
}

.submit-wrapper {
    margin-top: 50px;
    text-align: center;
}


.submit-wrapper a {
    border: 2px solid #24B24B;
    color: white;
    padding: 20px 25px;
    text-decoration: none;
    position: relative;
    letter-spacing: 8px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.6s;
    z-index: 1;
}

.submit-wrapper a:before,
.submit-wrapper a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 4px;
    background: #24B24B;
    margin-left: -12px;
    margin-top: -2px;
    transition: all 0.6s;
}

.submit-wrapper a:after {
    left: auto;
    right: 0;
    margin-right: -12px;
}

.submit-wrapper a:hover:before,
.submit-wrapper a:hover:after {
    width: 100%;
    transition: all 0.6s;
    background: #fff;
    transform: scaleY(5);
    z-index: -1;
}

.submit-wrapper a:hover {
    text-decoration: none;
    background: #24B24B;
    transition: all 0.6s;
    color: white;

}

















/*----------------------------------------------Slideanim---------------------------------------------*/

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}



/*---------------------------------------------- scroll to top button---------------------------------------------*/

.scrollToTop {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: #24B24B;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 600px;
    right: 10px;
    display: none;
    border-radius: 50px;
    opacity: 0.8;
}

.scrollToTop:hover {

    border: 2px solid #24B24B;
    background-color: white;
    color: #24B24B;
    text-decoration: none;
    opacity: 1;
}







/*------------------------------------------ dotted background -----------------------------------------------*/

.dotted {
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    background-size: 5px 5px;
}