html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}





/*----------------------------------------Container-fluid1----------------------------------------*/


#products-container-fluid1>h1
{
    font-size: 32px;
    color: #0072BC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.popular-column{
    background-color: white;
    padding: 10px 0 10px 0;
    border: 1px solid grey;
}

.popular-photo
{
    background-repeat:no-repeat;
    background-position: center center;
    height: 250px;
    transition: ease 0.5s;
    text-align: center;
    background-size: cover;

}
.text-div
{
    padding: 5px 10px 5px 10px;
}
.popular-text
{
    font-size: 20px;
    color: #727A7E;
}
.button-read
{
    float: right;
    border-radius: 15px !important;
}