html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}


.container-fluid-promotion
{
    color: #727A7E;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 30px;
}
.title
{
    font-size: 32px;
    color: #0072BC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold
}
#interval-credits
{
    margin-bottom: 20px;
    padding-left: 18px;
}
.interval-promotion
{
    margin-bottom: 10px;
}