html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}







button.accordion {
    background-color: #0072BC;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: #24B24B;
    color: #fff;
}

button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}


.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel>p {
    color: #727A7E;
    font-size: 17px;
    text-align: justify;
}

.answer-bold>li
{
    color: #727A7E;
    font-size: 17px;
    text-align: justify;
}

.recent-post>p
{
    color: #727A7E;
    font-size: 17px;
    text-align: justify;
}




#container-fluid-questionsanswer1>h1
{
    font-size: 32px;
    color: #0072BC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold


}