html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

#container-fluid-reception>h1
{
	  font-size: 32px;
    color: #0072BC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}


h2 {
  text-align: center;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.table {

  padding-top: 140px;
  color: #727A7E;
  font-size: 17px;
  text-align: justify;
  
}