html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}




/*----------------------------------------container-fluid1----------------------------------------*/

#rezidents-container-fluid1>h1
{

    font-size: 32px;
    color: #0072BC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
} 












.my-image{
	position:relative; 
	margin:0 auto;

	  
}

.item{
	height:240px;
	background:#fff; 
	padding-left:15px;
	transition: ease 0.5s;
    margin-top: 20px;
	    
}

.item:hover
{
	transform: scale(1.1);
	box-shadow:3px 3px 8px 0px grey; 
}

h3
{
	padding-top:30px;
	text-align:center;
	font-size:15px;

}


#row1,#row2,#row3
{



	padding: 20px 0 20px 0; 
}



