html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}


/*----------------------------------------Container-fluid1----------------------------------------*/
#why-container-fluid1
{
	margin-bottom: 50px;
}
#why-container-fluid1>h1 {
    font-size: 32px;
    color: #0072BC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold
}
#why-container-fluid1>p,ol
{
	text-align: justify;
    font-size: 17px;
    color: #727A7E;
}


