html>body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}





#container-fluid-zones
{
	color: #727A7E;
	font-size: 17px;
	text-align: justify;
	margin-bottom: 30px;
}
#container-fluid-zones>h1
{
	font-size: 32px;
    color: #0072BC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold
}
#container-fluid-zones>h2
{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#map
{
    width: 100%;
    height: 600px;
            
}
#myMap
{
    padding: 0;
    margin:0;

}
@media screen and (max-width: 970px) 
{
    #map 
    {
        width: 100%;
        height: 300px;

    }
}

